# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

model: ollama:qwen3:14b
cmd_prelude: "any:any"
repl_prelude: "any:any"
save_session: true
save: true
clients:
    - type: openai-compatible
      name: ollama
      api_base: http://localhost:11434/v1
      models:
          - name: qwen3:32b
            patch:
                body:
                    reasoning_effort: none
          - name: qwen3:14b
            patch:
                body:
                    reasoning_effort: none
          - name: qwen3:8b
            patch:
                body:
                    reasoning_effort: none