* {
  border: none;
  border-radius: 0;
  font-family: "Monocraft Nerd Font";
  font-size: 10pt;
  min-height: 0;
}

window#waybar {
  background: rgba(25, 25, 25, 0.92);
  color: #f8f8f2;
  border-bottom: 2px solid #67ffeb;
}

#clock,
#battery,
#tray {
  padding: 0 9px;
}

#clock { color: #67ffeb; }
#battery.warning { color: #ffb247; }
#battery.critical { color: #ff025f; }
